# Base System & Accelerators
torch>=2.0.0
torchvision>=0.15.0

# Data Engineering & Computer Vision
opencv-python>=4.7.0.72
pandas>=2.0.0
numpy>=1.24.0
albumentations>=1.3.0
scikit-learn>=1.2.0

# Utilities
tqdm>=4.65.0

# Phase 2: Serialization & Deployment Prep
onnx>=1.14.0
onnxruntime>=1.15.0

# Local Package Installation
-e .